@font-face {
  font-family: 'SmoochSans';
  src: url('../assets/fonts/SmoochSans-Bold.ttf');
  font-weight: 500;
  font-display: swap;
}
* {
  font-family: 'SmoochSans', sans-serif;
  font-weight: 400;
}
